@model List<ASP.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Все продукты</h1>

<div>
    @if (Model != null && Model.Any())
    {
        @foreach (var product in Model)
        {
            <div class="product-card">
                <h3>@product.Name</h3>
                <p>@product.Description</p>
                <p>@product.Price ₽</p>
                <p>В наличии: @product.InStock</p>
                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img class="product-image" src="@product.ImageUrl" alt="@product.Name" />
                }
                <form method="post" asp-action="AddToCart" asp-controller="Cart">
                    <input type="hidden" name="productId" value="@product.ProductId" />
                    <input type="number" name="quantity" value="1" min="1" />
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        }
    }
    else
    {
        <p>No products available.</p>
    }
</div>
<link rel="stylesheet" href="~/css/shared.css" />
