@model List<ASP.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our e-shop</h1>
    <h3>You can see below our latest products</h3>
</div>

<div>
    @if (Model != null && Model.Any())
    {
        @foreach (var product in Model)
        {
            <div class="product-card">
                <h3>@product.Name</h3>
                <p>@product.Description</p>
                <p>@product.Price ₽</p>
                <p>В наличии: @product.InStock</p>
                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img class="product-image" src="@product.ImageUrl" alt="@product.Name" />
                }
                <form method="post" asp-action="AddToCart" asp-controller="Cart">
                    <input type="hidden" name="productId" value="@product.ProductId" />
                    <input type="number" name="quantity" value="1" min="1" />
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        }
    }
    else
    {
        <p>No products available.</p>
    }
</div>
<link rel="stylesheet" href="~/css/shared.css" />
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-warning" role="alert">
    @TempData["ErrorMessage"]
</div>
}
