@model List<ASP.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .product-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        text-align: center;
        width: 400px;
        height: 450px; /* Установите желаемую ширину карточки */
        display: inline-block; /* Разместите карточки в ряд */
    }

    .product-image {
        max-width: 300px; /* Сделайте изображение адаптивным к ширине карточки */
        max-height: 300px; /* Сделайте изображение адаптивным к высоте карточки */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about our amazing products!</p>
</div>

<div>
    <!-- Вывести карточки товаров здесь -->
    @if (Model != null && Model.Any())
    {
        @foreach (var product in Model)
        {
            <div class="product-card">
                <h3>@product.Name</h3>
                <p>@product.Description</p>
                <p>@product.Price</p>
                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img class="product-image" src="@product.ImageUrl" alt="@product.Name" />
                }
            </div>
        }
    }
    else
    {
        <p>No products available.</p>
    }
</div>
