@model List<CartItem>

<h2>Ваша корзина</h2>

<link rel="stylesheet" href="~/css/cart.css" />

@foreach (var item in Model)
{
    <div  class="product-card">
    <h3>@item.Product.Name</h3>
    <p>@item.Product.Description</p>
    <p>@item.Product.Price</p>
    <img class="product-image" src="@item.Product.ImageUrl" alt="@item.Product.Name" />
</div>
}

<link rel="stylesheet" href="~/css/shared.css" />
