@model List<CartItem>

<h1>Your cart</h1>

<link rel="stylesheet" href="~/css/cart.css" />

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="product-card">
            <h3>@item.Product.Name</h3>
            <p>@item.Product.Description</p>
            <p>@item.Product.Price ₽</p>
            <p>В наличии: @item.Product.InStock </p>
            <img class="product-image" src="@item.Product.ImageUrl" alt="@item.Product.Name" />
            <p>Добавлено: @item.Quantity</p>
        </div>
    }
}
else
{
    <p>Add products to cart or login.</p>
}

<link rel="stylesheet" href="~/css/shared.css" />
